// promo start

section.promo

	.promo-slider

		.promo-slider__item.promo-slider__item--style-1
			picture
				source(srcset='img/carousel-image1.jpg' media='(min-width: 835px)')
				source(srcset='img/carousel-image1.jpg' media='(min-width: 376px)')
				img.img--bg(src='img/carousel-image1.jpg' alt='img')
			.container
				.row
					.col-12
						.align-container
							.align-container__item
								.promo-slider__wrapper-1
									h2.promo-slider__title #[span Manitham Thandi Punitham Illai.]
								.promo-slider__wrapper-2
									p.promo-slider__subtitle Join our mission to create a better world for Anbinpathai and beyond.
								.promo-slider__wrapper-3
									a(href="#contactus").button.promo-slider__button.button--primary Contact Us

		.promo-slider__item.promo-slider__item--style-2
			picture
				source(srcset='img/carousel-image2.jpg' media='(min-width: 835px)')
				source(srcset='img/carousel-image2.jpg' media='(min-width: 376px)')
				img.img--bg(src='img/carousel-image2.jpg' alt='img')
			.container
				.row
					.col-xl-7
						.align-container
							.align-container__item
								.promo-slider__wrapper-1
									h2.promo-slider__title #[span Manitham Thandi Punitham Illai.]
								.promo-slider__wrapper-2
									p.promo-slider__subtitle Join our mission to create a better world for Anbinpathai and beyond.
								.promo-slider__wrapper-3
									a(href="#contactus").button.promo-slider__button.button--primary Contact Us

		.promo-slider__item.promo-slider__item--style-3
			picture
				source(srcset='img/carousel-image3.jpg' media='(min-width: 835px)')
				source(srcset='img/carousel-image3.jpg' media='(min-width: 376px)')
				img.img--bg(src='img/carousel-image3.jpg', alt='img')
			.container
				.row
					.col-xl-8.offset-xl-2
						.align-container
							.align-container__item
								.promo-slider__wrapper-1
									h2.promo-slider__title #[span Manitham Thandi Punitham Illai.]
								.promo-slider__wrapper-2
									p.promo-slider__subtitle Join our mission to create a better world for Anbinpathai and beyond.
								.promo-slider__wrapper-3
									a(href="#contactus").button.promo-slider__button.button--primary Contact Us

	// slider nav start
	.slider__nav.slider__nav--promo
		.promo-slider__count
		.slider__arrows
			.slider__prev
				+fa('chevron-left')
			.slider__next
				+fa('chevron-right')
	// slider nav end

// promo end