// aside dropdown start

.aside-dropdown
	.aside-dropdown__inner
		span.aside-dropdown__close
			+svg('close')

		.aside-dropdown__item

			// aside menu start
			ul.aside-menu
				li.aside-menu__item
					a.aside-menu__link(href="index.html") Home
				li.aside-menu__item
					a.aside-menu__link(href="events.html") Events
				li.aside-menu__item
					a.aside-menu__link(href="about.html") About Us
				li.aside-menu__item
					a.aside-menu__link(href="contacts.html") Contact Us
			// aside menu end

			.aside-inner
				span.aside-inner__title Email
				a.aside-inner__link(href="mailto:anbinpathai@gmail.com") anbinpathai@gmail.com

			.aside-inner
				span.aside-inner__title Phone numbers
				a.aside-inner__link(href="tel:919941642120") +91 99416 42120
				span.aside-inner__title Land Line number
				a.aside-inner__link(href="tel:04448671714") +044 48671714
				span.aside-inner__title Whats app
				a.aside-inner__link(href="tel:919025390089") +91 9025390089

		.aside-dropdown__item.px-0.justify-content-center.d-flex
			a.button.button--squared(href="donors.html")
				span Donate

// aside dropdown end