// Misson start

section.section.about-us.about-us--style-2.no-padding-top
	.container
		.row.align-items-center

			.col-lg-6.col-xl-5.offset-xl-1

				.about-us__text-aside Our Mission
		
			.col-lg-6

				h4.about-us__subtitle Compassion Without Borders: Empowering Needy with Essential Services
				p We will continue on the path of love, providing food, clothing, and shelter to the needy in India's impoverished villages and cities. We are committed to serving those living on the roadside, rescuing and aiding the destitute, and offering medical assistance. Our mission extends to supplying food, clothing, shelter, medicine, and education to those in need. If there is poverty and disease on the moon, we are ready to go there and serve.
				
			

// Mission end


// Vision start

section.section.about-us.about-us--style-3.no-padding-top
	.container
		.row.align-items-center
			.col-lg-6.col-xl-5.offset-xl-1
				.about-us__text-aside Our Vision
		
			.col-lg-6

				h4.about-us__subtitle Path of Love: A Vision for Holistic Support and Empowerment
				p In line with our policy, we walk the path of love, providing necessities such as food, clothing, and shelter to the poor and needy. We offer free education to underprivileged students through the Anbin Pathai Learning Center and extend medical aid to the sick. Our ongoing commitment includes efforts to open a shelter home for the elderly to ensure their care and comfort.
				
			
			

// Vision end