// events inner start

section.event-section

	iframe(src='https://anbinpathaichennai.blogspot.com/', id="anbanpathaiIframe")

script.
	function handleHeightMessage({ data = '{}' } = {}) {
		if (data) {
			const t = typeof data === 'string' ? JSON.parse(data) : data;
			if (t.type === 'resize') {
				document.getElementById('anbanpathaiIframe').setAttribute('style', 'height:' + t.height + 'px;')
			}
		}
	}
	window.addEventListener && window.addEventListener("message", handleHeightMessage);
	window.onbeforeunload = function(e) {
		window.removeEventListener("message", handleHeightMessage);
	};


// events inner end