// main menu start

nav
	ul.main-menu(class=(type === "inner" ? "main-menu--inner" : undefined))

		li.main-menu__item(class=(type === "front" ? "main-menu__item--active" : undefined))
			a.main-menu__link(href="index.html")
				span Home

		li.main-menu__item(class=(page === "events" ? "main-menu__item--active" : undefined))
			a.main-menu__link(href="events.html")
				span Events
		
		li.main-menu__item(class=(page === "about" ? "main-menu__item--active" : undefined))
			a.main-menu__link(href="about.html")
				span About Us

		li.main-menu__item(class=(page === "contacts" ? "main-menu__item--active" : undefined))
			a.main-menu__link(href="contacts.html")
				span Contact Us
// main menu end