// projects start

section.section.icons-section.no-padding-top
  .container
    .row.align-items-end.margin-bottom
      .col-lg-9
        .heading.heading--primary
          span.heading__pre-title What we do
          h2.heading__title
            span Anbin Pathai (Path of Love Trust)
            span &nbsp;Services
          p.no-margin-bottom
  .row.no-gutters.projects-masonry
    .col-lg-6.col-xl-4.projects-masonry__item.projects-masonry__item--height-1.projects-masonry__item--vertical
      .projects-masonry__img
        div.img-container
          img.img--bg(src="./img/AP_Pic (33).jpeg" alt="img")
      .projects-masonry__text(style="background-color: #2EC774;")
        .projects-masonry__inner
          span.projects-masonry__badge(style="background: #49C2DF;") Care
          h3.projects-masonry__title 
            a(href="index.html") Supporting the Homeless and Elderly
          p Our NGO is deeply committed to addressing the needs of homeless individuals and elderly people who require assistance. We have developed a range of programs and services designed to provide immediate relief and long-term support.
    .col-lg-6.col-xl-8.projects-masonry__item.projects-masonry__item--height-2.projects-masonry__item--horizontal
      .projects-masonry__img
        div.img-container
          img.img--bg(src="./img/AP_Pic (2).jpeg" alt="img")
      .projects-masonry__text(style="background-color: #9BC35E;")
        .projects-masonry__inner
          span.projects-masonry__badge(style="background: #F36F8F;") Education
          h3.projects-masonry__title
            a(href="index.html") Empowering Through Education: Anbin Pathai (Path of Love Trust) Katral Maiyam
          p Our NGO operates two learning centers in Rayapettah and Santhome, dedicated to providing quality education and holistic development for underprivileged students.
    .col-lg-6.col-xl-8.projects-masonry__item.projects-masonry__item--height-1.projects-masonry__item--primary
      .projects-masonry__img
        div.img-container
          img.img--bg(src="./img/AP_Pic (65).jpeg" alt="img")
        .projects-masonry__inner
          span.projects-masonry__badge(style="background: #F8AC3A;") Food
          h3.projects-masonry__title
            a(href="index.html") Anbin Pathai (Path of Love Trust) Annachathiram: Nourishing the Needy in Chennai
          p As part of our mission to combat hunger and support the underprivileged, our NGO has launched the "Anbin Pathau Annachathiran" initiative. This program focuses on providing nutritious meals to those in need, including roadside dwellers, underprivileged individuals, and school children in Chennai.
    .col-lg-6.col-xl-4.projects-masonry__item.projects-masonry__item--height-2.projects-masonry__item--primary
      .projects-masonry__img
        div.img-container
          img.img--bg(src="./img/AP_Pic (54).jpeg" alt="img")
        .projects-masonry__inner
          span.projects-masonry__badge(style="background: #2EC774;") Rescue
          h3.projects-masonry__title
            a(href="index.html") Relief Work During Calamities: Providing Essential Aid
          p In response to natural calamities, our NGO has been actively involved in relief work to support affected individuals and families. Our efforts focus on providing immediate and essential aid to those in need, ensuring they have access to basic necessities during challenging times.
    .col-lg-6.col-xl-8.projects-masonry__item.projects-masonry__item--height-2.projects-masonry__item--horizontal
      .projects-masonry__img
        div.img-container
          img.img--bg(src="./img/AP_Pic (21).jpg" alt="img")
      .projects-masonry__text(style="background-color: #E78F51;")
        .projects-masonry__inner
          span.projects-masonry__badge(style="background: #2EC774;") Medicine
          h3.projects-masonry__title
            a(href="index.html") Blood Donation
          p One of our key initiatives is focused on coordinating blood donations to meet urgent medical needs. The aim of this program is to respond to calls for blood and connect with volunteers willing to donate, ensuring that hospitals and patients have access to the necessary blood supplies.
    .col-lg-6.col-xl-4.projects-masonry__item.projects-masonry__item--height-2.projects-masonry__item--primary
      .projects-masonry__img
        div.img-container
          img.img--bg(src="./img/AP_Pic (169).JPG" alt="img")
        .projects-masonry__inner
          span.projects-masonry__badge(style="background: #F36F8F;") Women Empowerment
          h3.projects-masonry__title
            a(href="index.html") Empowering Women Through Trainings
          p As part of our mission to uplift and empower women, our NGO recently conducted a free tailoring training program for 13 women in Royapettah. This initiative is designed to equip participants with valuable skills that can lead to self-improvement and economic independence.

// projects end