// about us start

section#about.section.about-us
	.container
		.row.align-items-center

			.col-lg-6

				.heading.heading--primary
					span.heading__pre-title About Us
					h2.heading__title #[span Who] #[span we are ?]

				p #[strong Anbin Padhai Trust] was founded on June 18, 2020. Our primary mission is to provide basic necessities such as food, clothing, and shelter to roadside and destitute individuals. We offer free education to underprivileged school students, free medical facilities for destitute patients, and support for socially and economically disadvantaged people. As a registered social welfare organization, we actively assist the underprivileged in society, empowering them through education, financial support, and various livelihood programs.

				a.button.button--primary(href="about.html") More About

			.col-lg-6.col-xl-5.offset-xl-1
				
				.info-box
					img.img--layout(src="img/about_layout.png" alt="img")
					img.img--bg(src="img/logo.png", alt="img")

// about us end