// header start

header.header.header--front
	.container-fluid
		.row.no-gutters.justify-content-between.header-row

			.col-md-3.d-flex

				.col-md-12.header-logo.py-2
					a.header-logo__link(href="index.html")
						img.header-logo__img.logo--light(src="img/logo.png", alt="logo")
						img.header-logo__img.logo--dark(src="img/logo.png", alt="logo")

			.col-md-6.margin-auto.text-center

				include ../_main-menu/_main-menu

			.col-md-3.d-flex.align-items-center.justify-content-end

				// lang select start
				// div#google_translate_element
				// lang select end

				.dropdown-trigger.d-md-block.d-lg-none
					.dropdown-trigger__item

				a.button.button--squared(href="donors.html")
					span Donate

// header end