// header start

header.header.header--front
	.container-fluid
		.row.no-gutters.justify-content-between

			.col-auto.d-flex.align-items-center

				.dropdown-trigger.d-lg-none.d-sm-block
					.dropdown-trigger__item

				.header-logo.ml-lg-5
					a.header-logo__link(href="index.html")
						img.header-logo__img.logo--light(src="img/logo.png", alt="logo")
						img.header-logo__img.logo--dark(src="img/logo.png", alt="logo")

			.col-auto

				include ../_main-menu/_main-menu

			.col-auto.d-flex.align-items-center

				// lang select start
				// div#google_translate_element
				// lang select end

				.dropdown-trigger.d-block.d-sm-none
					.dropdown-trigger__item

				a.button.button--squared(href="donars.html")
					span Donate

// header end