// team start

section.section.team.no-padding-top.pb-5
	.container
		.row

			.col-12

				.heading.heading--primary.text-center
					span.heading__pre-title Team
					h2.heading__title.no-margin-bottom #[span Meet] #[span our Team]

		.row.margin-bottom.justify-content-center

			.col-sm-6.col-lg-4.col-xl-3

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#")
								+fa('facebook')
					.team-item__img-holder
						img.img--layout(src="img/team_1.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/clement.png", alt="teammate")
					.team-item__description
						.team-item__name G.Clement
						.team-item__position Founder
				// iteam end

			.col-sm-6.col-lg-4.col-xl-3

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#")
								+fa('facebook')
					.team-item__img-holder
						img.img--layout(src="img/team_2.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/mariya.png", alt="teammate")
					.team-item__description
						.team-item__name J. Mariya Antonitta
						.team-item__position Secretary
				// iteam end

			.col-sm-6.col-lg-4.col-xl-3

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#")
								+fa('facebook')
					.team-item__img-holder
						img.img--layout(src="img/team_3.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/mahalakshmi.png", alt="teammate")
					.team-item__description
						.team-item__name C. Maha lakshmi
						.team-item__position Treasurer
				// iteam end

			.col-sm-6.col-lg-4.col-xl-3

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#")
								+fa('facebook')
					.team-item__img-holder
						img.img--layout(src="img/team_4.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/mohana.png", alt="teammate")
					.team-item__description
						.team-item__name Mohana
						.team-item__position
				// iteam end

			.col-sm-6.col-lg-4.col-xl-3

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#")
								+fa('facebook')
					.team-item__img-holder
						img.img--layout(src="img/team_5.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/antony.png", alt="teammate")
					.team-item__description
						.team-item__name Antony
						.team-item__position
				// iteam end

			.col-sm-6.col-lg-4.col-xl-3

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#")
								+fa('facebook')
					.team-item__img-holder
						img.img--layout(src="img/team_6.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/Suresh.png", alt="teammate")
					.team-item__description
						.team-item__name Suresh
						.team-item__position
				// iteam end

			.col-sm-6.col-lg-4.col-xl-3

				// iteam start
				.team-item.team-item--rounded
					ul.team-item__socials
						li
							a(href="#")
								+fa('facebook')
					.team-item__img-holder
						img.img--layout(src="img/team_7.png", alt="layout")
						.team-item__img
							img.img--bg(src="img/profile.png", alt="teammate")
					.team-item__description
						.team-item__name Basha
						.team-item__position
				// iteam end

// team end