footer.footer
  .container
    .row
      .col-sm-6.col-lg-3
        .footer-logo
          a.footer-logo__link(href='index.html')
            img.footer-logo__img(src='img/logo.png', alt='logo')
        // footer socials start
        ul.footer-socials
          li.footer-socials__item
            a.footer-socials__link(href='#')
              i.fa.fa-facebook(aria-hidden='true')
          li.footer-socials__item
            a.footer-socials__link(href='#')
              i.fa.fa-twitter(aria-hidden='true')
          li.footer-socials__item
            a.footer-socials__link(href='#')
              i.fa.fa-google-plus(aria-hidden='true')
          li.footer-socials__item
            a.footer-socials__link(href='#')
              i.fa.fa-instagram(aria-hidden='true')
        // footer socials end
      .col-sm-6.col-lg-3
        h4.footer__title Contacts
        .footer-contacts
          p.footer-contacts__address 2/36 Dooming Street, Santhome, Mylapore , Chennai 660004
          p.footer-contacts__phone
            | Phone: 
            a(href='tel:+919941642120') +91 99416 42120
          p.footer-contacts__mail
            | Email: 
            a(href='mailto:support@helpo.org') anbinpathai@gmail.com
      .col-sm-6.col-lg-3
        h4.footer__title Menu &amp; Links
        // footer nav start
        nav
          ul.footer-menu
            li.footer-menu__item.footer-menu__item--active
              a.footer-menu__link(href='index.html') Home
            li.footer-menu__item
              a.footer-menu__link(href='index.html#about') About
            li.footer-menu__item
              a.footer-menu__link(href='#') Contacts
            li.footer-menu__item
              a.footer-menu__link(href='events.html') Events
        // footer nav end
      .col-sm-6.col-lg-3
        h4.footer__title Donate
        p Help Us Change the Lives of the needy in Chennai
        a.button.footer__button.button--filled(href='donors.html') Donate
    .row.align-items-baseline
      .col-md-6
        p.footer-copyright &copy; 2024 Anbin Pathi
// footer end
