footer.footer
  .container#contactus
    .row
      .col-sm-6.col-lg-3
        .footer-logo
          a.footer-logo__link(href='index.html')
            img.footer-logo__img.rounded-circle(src='img/logo.png', alt='logo')
        // footer socials start
        ul.footer-socials
          li.footer-socials__item
            a.footer-socials__link(href='https://www.facebook.com/anbin.trust/', target='_blank')
              i.fa.fa-facebook(aria-hidden='true')
          li.footer-socials__item
            a.footer-socials__link(href='https://www.youtube.com/@Yaasagan20', target='_blank')
              i.fa.fa-youtube(aria-hidden='true')
          li.footer-socials__item
            a.footer-socials__link(href='https://www.instagram.com/anbin_pathai_trust?igsh=eG82NGliZXUyZmlq', target='_blank')
              i.fa.fa-instagram(aria-hidden='true')
        // footer socials end
      .col-sm-6.col-lg-3
        h4.footer__title Contact us
        .footer-contacts
          p.footer-contacts__address 2/36 Dooming Street, Santhome, Mylapore , Chennai 600004
          p.footer-contacts__phone
            | Phone: 
            a(href='tel:919941642120') +91 99416 42120
          p Land Line number: #[a.icon-item__link(href="tel:04448671714") +044-48671714]
          p Whats app: #[a.icon-item__link(href="tel:919025390089") +91-9025390089]
          p.footer-contacts__mail
            | Email: 
            a(href='mailto:support@helpo.org') anbinpathai@gmail.com
      .col-sm-6.col-lg-3
        h4.footer__title Menu &amp; Links
        // footer nav start
        nav
          ul.footer-menu
            li.footer-menu__item.footer-menu__item--active
              a.footer-menu__link(href='index.html') Home
            li.footer-menu__item
              a.footer-menu__link(href='about.html') About
            li.footer-menu__item
              a.footer-menu__link(href='contacts.html') Contact us
            li.footer-menu__item
              a.footer-menu__link(href='events.html') Events
        // footer nav end
      .col-sm-6.col-lg-3
        h4.footer__title Donate
        p Help Us Change the Lives of the needy in Chennai
        a.button.footer__button.button--filled(href='donors.html') Donate
    .row.align-items-baseline
      .col-md-6
        p.footer-copyright &copy; 2024 Anbin Pathi
// footer end
