extends ../layouts/primary.pug

block variables

	-var page = 'about'

	-var dest = 'pages'

block header

	include ../blocks/_aside-dropdown/_aside-dropdown
	include ../blocks/_header/_header

block main

	section.promo-primary(class=(dest === "elements" ? "promo-primary--elements" : undefined))

		picture
			source(srcset='img/about.jpg', media='(min-width: 992px)')
			img.img--bg(src='img/about.jpg', alt='img')

		.promo-primary__description 
			span About us

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Anbin Pathai
							h1.promo-primary__title #[span About]#[br]#[span Organization]

	// about-us start

	section.section.about-us
		.container
			.row.align-items-center

				.col-lg-6.col-xl-5
					img.img-brand.rounded-circle(src="img/logo.png", alt="img")

				.col-lg-6.col-xl-6.offset-xl-1

					.heading.heading--primary
						span.heading__pre-title About Us
						h2.heading__title #[span Help is Our] #[span Main Goal]

					p #[strong Anbin Padhai Trust] was founded on June 18, 2020. Our primary mission is to provide basic necessities such as food, clothing, and shelter to roadside and destitute individuals. We offer free education to underprivileged school students, free medical facilities for destitute patients, and support for socially and economically disadvantaged people. As a registered social welfare organization, we actively assist the underprivileged in society, empowering them through education, financial support, and various livelihood programs.

	// about-us end

	include ../blocks/_about-us--style-2/_about-us--style-2

	include ../blocks/_team/_team

block footer

	include ../blocks/_footer/_footer