extends ../layouts/primary.pug

block variables

	-var page = 'contacts'

block header

	include ../blocks/_aside-dropdown/_aside-dropdown

	// header start

	include ../blocks/_header/_header
	
	// header end

block main

	section.promo-primary(class=(dest === "elements" ? "promo-primary--elements" : undefined))

		picture
			source(srcset='img/contacts.jpg' media='(min-width: 992px)')
			img.img--bg(src='img/contacts.jpg' alt='img')

		.promo-primary__description 
			span Contact Us

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Anbin Pathai
							h1.promo-primary__title #[span Contacts]

	// section start

	section.section.contacts
		.container
			.row.offset-margin

				.col-sm-6.col-lg-4

					.icon-item
						.icon-item__img
							img.img--layout(src="img/icon_1-1.png" alt="img")
							svg.icon.icon-item__icon.icon--red
								use(xlink:href="#1_earth")
						.icon-item__text
							p Address: 2/36 Dooming Street, Santhome, Mylapore , Chennai 600004

				.col-sm-6.col-lg-4

					.icon-item
						.icon-item__img
							img.img--layout(src="img/icon_2-2.png" alt="img")
							svg.icon.icon-item__icon.icon--orange
								use(xlink:href="#phone-call")
						.icon-item__text
							p Phone: #[a.icon-item__link(href="tel:919941642120") +91-9941642120]
							p Land Line number: #[a.icon-item__link(href="tel:04448671714") +044-48671714]
							p Whats app: #[a.icon-item__link(href="tel:919025390089") +91-9025390089]

				.col-sm-6.col-lg-4

					.icon-item
						.icon-item__img
							img.img--layout(src="img/icon_3-3.png" alt="img")
							svg.icon.icon-item__icon.icon--green
								use(xlink:href="#envelope")
						.icon-item__text
							p Email: #[a.icon-item__link(href="mailto:anbinpathai@gmail.com") anbinpathai@gmail.com]

				
	// section end

	// include ../blocks/_contacts/_contacts

	// bottom bg start
	
	section.bottom-background
		.container
			.row
				.col-12
					.bottom-background__img
						img(src="img/bottom-bg.png", alt="img")
	
	// bottom bg end

block footer

	include ../blocks/_footer/_footer