extends ../layouts/primary.pug

block variables

	-var page = 'events'

	-var dest = 'pages'

block header

	// include ../blocks/_aside-dropdown/_aside-dropdown

	// header start

	include ../blocks/_header/_header
	
	// header end

block main

	section.promo-primary(class=(dest === "elements" ? "promo-primary--elements" : undefined))
		div.background-events-image
			picture
				source(srcset='img/foodserving.jpg', media='(min-width: 992px)')
				img.img--bg(src='img/foodserving.jpg', alt='img')

		.promo-primary__description 
			span Events

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Anbin Pathai
							h1.promo-primary__title #[span Our] #[span Events]

	include ../blocks/_events-inner/_events-inner	

	// bottom bg start

	section.bottom-background.background--brown
		.container
			.row
				.col-12
					.bottom-background__img
						img(src="img/bottom-bg.png", alt="img")

	// bottom bg end

block footer

	include ../blocks/_footer/_footer