extends ../layouts/primary.pug

block variables

	-var page = 'index'

	-var type = 'front'

block header

	include ../blocks/_aside-dropdown/_aside-dropdown
	include ../blocks/_header/_header

block main

	include ../blocks/_promo/_promo

	include ../blocks/_about-us/_about-us

	include ../blocks/_about-us--style-2/_about-us--style-2.pug

	include ../blocks/_team/_team.pug

	include ../blocks/_projects/_projects

	include ../blocks/_events/_events

block footer

	include ../blocks/_footer/_footer