// events start

section.section.events

	img.events__bg(src="img/events_bg.png", alt="img")

	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title Events
					h2.heading__title.no-margin-bottom #[span Our Events]
		.row

			.col-sm-12.col-md-6

				.event-item
					.event-item__img
						img.img--bg(src="./img/christmas.jpeg", alt="img")
					.event-item__content
						h6.event-item__title
							div Christmas - Anbai Pagirvom
						p Chennai

			.col-sm-12.col-md-6

				.event-item
					.event-item__img
						img.img--bg(src="./img/event-help.jpeg", alt="img")

			.col-sm-12.col-md-6
				.event-item
					.event-item__img
						img.img--bg(src="./img/event-food2.jpeg", alt="img")

			.col-sm-12.col-md-6
				.event-item
					.event-item__img
						img.img--bg(src="./img/event-food3.jpeg", alt="img")

			

		.row

			.col-12.text-center

				a.button.button--primary(href="events.html") View all events

// events end