// events start

section.section.events

	img.events__bg(src="img/events_bg.png", alt="img")

	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title Events
					p.no-margin-bottom Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish

		.row

			.col-md-6.col-lg-4

				.event-item
					.event-item__img
						img.img--bg(src="https://www.mylaporetimes.com/wp-content/uploads/2020/07/116911271_930881900722691_6482992977935930081_n.jpg", alt="img")
					.event-item__content
						h6.event-item__title
							a(href="#") Keeping food
						p #[b Dark Spurt,] Chennai
						p #[b September 30 - October 31,] 2019

			.col-md-6.col-lg-4

				.event-item
					.event-item__img
						img.img--bg(src="https://www.mylaporetimes.com/wp-content/uploads/2020/07/116911271_930881900722691_6482992977935930081_n.jpg", alt="img")
					.event-item__content
						h6.event-item__title
							a(href="#") Keeping food
						p #[b Dark Spurt,] Chennai
						p #[b September 30 - October 31,] 2019

			.col-md-6.col-lg-4

				.event-item
					.event-item__img
						img.img--bg(src="https://www.mylaporetimes.com/wp-content/uploads/2020/07/116911271_930881900722691_6482992977935930081_n.jpg", alt="img")
					.event-item__content
						h6.event-item__title
							a(href="#") Keeping food
						p #[b Dark Spurt,] Chennai
						p #[b September 30 - October 31,] 2019

		.row

			.col-12.text-center

				a.button.button--primary(href="events.html") View all events

// events end